@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/prata-2');
@import url('https://fonts.cdnfonts.com/css/fira-sans');
@import url('https://fonts.cdnfonts.com/css/phetsarath');
@import url('https://fonts.cdnfonts.com/css/noto-sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    max-width: 1231px;
    width: 100%;
    padding: 12px 24px;
    background: #F7F4FF;
    margin-left: auto;
    margin-bottom: 142px;
  }
  .headerContainer{
    max-width: 1183px;
    width: 100%;
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
  }
  .navigation{
    margin-left: 250px;
    vertical-align: middle;
    display: inline-block;
  }
  .nav_items{
    text-decoration: none;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #323232;
    font-family: 'Inter', sans-serif;

}
.contact_us{
    margin-left: 277px;
    padding: 8px 16px;
    color: #8E26C0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    background: #F7F4FF;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.main{
    max-width: 1247px;
    width: 100%;
    margin: 0 auto;
}
.main_image{
    vertical-align: middle;
    display: inline-block;
    max-width: 618px;
    width: 100%;
}
.offer_container{
    vertical-align: middle;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    margin-left: 45px;
}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
}
.main_p{
    font-family: 'Prata', sans-serif;
    color: #535862;
    font-size: 20px;
    font-weight: 400;
}
.lists{
    margin-top: 8px;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 20px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

}
.section_one{
    margin-bottom: 83px;
}
.contact_container{
    max-width: 1221px;
    width: 100%;
    margin-bottom: 28px;
}
.contact_header{
    margin: 0 auto;
    max-width: 905px;
    width: 100%;
}
.contact_header h2{
    font-family: 'Inter', sans-serif;
    color: #000;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 18px;
}
.contact_p{
    font-family: 'Prata', sans-serif;
    color: #535862;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.send_container{
    max-width: 1157px;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    background: #F7F4FF;
}
.list_items{
    border-radius: 16px;
    background: #FFF;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
}
.items_img{
    vertical-align: middle;
    display: inline-block;
    border-radius: 50px;
    background: #F7F4FF;
    width: 56px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.items_p{
    vertical-align: middle;
    display: inline-block;
}
.p_one{
    font-family: 'Phetsarath', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.p_two{
    font-family: 'Prata', sans-serif;
    color: #6D5F8B;
    font-size: 16px;
    font-weight: 400;
}
.address{
    margin-bottom: 24px;
}
.email{
    margin-bottom: 24px;
}
.phone{
    margin-bottom: 235px;
}
.right{
    display: inline-block;
    vertical-align: middle;
}
label{
    font-family: 'Noto Sans', sans-serif;
    display: block;
    color: #1B003D;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 8px;
}
.right{
    margin-left: 24px;
    max-width: 630px;
    width: 100%;
}
.right h2{
    font-family: 'Noto Sans', sans-serif;
    color: #1B003D;
    font-size: 32px;
    font-weight: 900;
    line-height: 44px; 
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.input{
    font-family: 'Noto Sans', sans-serif;
    border-radius: 8px;
    border: 1px solid #8E26C0;  
    padding: 8px 16px;
    width: 650px;
    height: 32px;
    color: #6D5F8B;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.margin_send{
    margin-top: 24px;
}
.textarea{
    font-family: 'Noto Sans', sans-serif;
    margin-top: 24px;
    color: #6D5F8B;
    width: 650px;
    height: 146px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    resize: none;
    padding: 12px 16px;
    border-radius: 16px;
    border: 1px solid #8E26C0;
    margin-bottom: 24px;
}
.send_button{
    border-radius: 8px;
    background: #8E26C0;
    border: 1px solid #8E26C0;
    width: 140px;
    padding: 12px 24px;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 510px;

}
footer{
    margin-top: 163px;
    padding: 64px 0px 48px 0px;
    flex-shrink: 0;
    background: #53389E;
}
.navMap a{
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: var(--Font-size-text-md, 16px);
    font-weight: 600;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    color: #E9D7FE;
    text-decoration: none;
}
.navFooter{
    display: inline-block;
}
.navFooter p{
    font-family: 'Inter', sans-serif;
    font-size: var(--Font-size-text-sm, 14px);
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    margin-bottom: 16px;
    color: #D6BBFB;
    font-weight: 600;
}
.nav_section{
    margin: 0 auto;
    text-align: center;
    height: 240px;
    max-width: var(--container-max-width-desktop, 1280px);
    width: 100%;
    padding: 0px 32px;
    margin-bottom: 64px;
}
.distance_nav{
    margin-right: 140px;
}
.distance_min{
    margin-bottom: 12px;
}
.footer_logo_wrapper {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }
  .footer_logo_mini_wrapper {
    padding: 32px 0;
    border-top: 1px solid #7F56D9;
  }
  .footer_logo {
    vertical-align: middle;
  }
  .copyright_wrapper {
    font-family: 'Inter', sans-serif;
    vertical-align: middle;
    margin-left: 750px;
    color: #D6BBFB;
    font-size: var(--Font-size-text-md, 16px);
    font-weight: 400;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
  }